@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
  
body{
      font-size: 62.5%;
      width:100vw;
      height: 100vh;  
      font-family: 'Merriweather', serif;

  } 
  
  .myBtnStyle {
      font-size: 1.25rem;
      text-transform: capitalize;
      font-weight: bold;
      background: rgba(39, 39, 39, 0.74);
      border-radius: 10px;
      padding: 1rem  ;
      color:rgb(219, 162, 17);
      font-family: serif;
  }


.sidebar{
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    transition: all .5s ease;
    background-color: rgba(180, 180, 180, .4);
}


.sidebar header{
    font-size: 2rem;
    color:rgb(219, 162, 17);
    text-align: center;
    line-height: 7rem;
    background: rgba(39, 39, 39, .4);
    user-select: none;
  
}

.sidebar ul {
    display:block;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-left: 0;
}

button{
    width: 12rem;
    margin: .5rem 0;
    border: none;
}

button:hover {
    transform: scale(1.1);
    transition: .5s;
}

#check{
    display: none;
}

label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
    background: transparent;
    border-radius: .5rem;
}
label #btn{
    left: 4rem;
    top: 2.5rem;
    font-size: 2.5rem;
    color:rgb(219, 162, 17);
}

label #cancel{
        z-index: 5;
        left: -195px;
        font-size: 2rem;
        color:rgb(219, 162, 17);
        top: 30px;
    }

    #check:checked ~ .sidebar{
        left: 0;
    }
    #check:checked ~ label #btn{
        left: 0;
        opacity: 0;
        pointer-events: none;
    }
    #check:checked ~ label #cancel{
        left: 195px;
        transition: all .5s ease;
    }
    .bg{
       height: 100vh;
       background: url(/img/banApp-Bg.jpg) center/cover no-repeat; 
       display: flex;
       justify-content: center;
       align-items: center;
       position: relative;
   }
    #check:checked ~ .bg {
      transition: all .5s ease;
      margin-left: 250px;
    }
 
 .view-account-search{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.account-search-body input, 
.form-container input{
    background: rgba(39, 39, 39, 0.74);
}

.view{
     z-index: 11;
    /* margin: 25% auto; */
    padding: 0 4rem;
    background: rgba(39, 39, 39, 0.74);
    width: 60%;
    color:rgb(219, 162, 17);
    font-size: .7rem;
    text-align: center;
    text-transform: capitalize;
    padding: 1rem;
}

.overlay {
    background-color: rgba(0, 0, 0, .4);
    position: absolute;
    width: 100%;
    height: 100%;
}
